// $mainColor:#7C88AE; //灰色
// // $mainColor:#297FCA;//蓝色
// // $mainColor:#525A65; // 深灰色



$darkColor:#0a2642;
$lightDarkColor:#0a2642;
// $cardBorderColor:rgba(49,61,79,.4);

$textLigh:#7082AF;
$white:#fff;
$blue:rgb(66, 202, 131);
$green:rgb(53, 126, 240);
$yellow:#FFB844;
$red: rgb(255, 99, 100 ) ;
$medium-grey:#807e8f;
$light-grey:#b9b8c1;

$greenColor:#00c5d2;
$yellowColor:#edcd61;
$redColor:#ff87d4;


$paddingSize:1em * 3/4;

$fontSizeNormal:$paddingSize;
$fontSizeLarge:$fontSizeNormal*2;
$fontSizeMiddle:$fontSizeNormal * 5 / 3;


// /*默认*/
// @media screen and (min-width: 980px){$paddingSize:12px;
// }
// @media (min-width: 1440px) {$paddingSize:18px;
//  }
// @media (min-width: 1920px) {$paddingSize:24px; }
// $fontSizeNormal:$paddingSize;
// $fontSizeLarge:$fontSizeNormal*2;
// $fontSizeMiddle:$fontSizeNormal * 5 / 3;




